* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


nav {
    background-color: mediumspringgreen;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify: center;
    padding: 20px;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically if needed */
    z-index: 1;
}

nav ul {
    list-style: none; /* Remove default bullets */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    display: flex;
    border: 1px;
    

}

nav ul li {
    display: inline-block;
    padding: 10px 20px;
    border: 1px;
    margin:0 25px ;
    background-color:blueviolet;
    border-radius: 3px;
    
}

nav ul li a {
    color:beige;
}

h1 {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    margin-bottom: 5px;

}

body {
    margin-top: 70px;
}

.top-section {
    background-image: url(./images/image1_pattern.webp);
    height: 200px;
}

#top-h1 {
    margin:0 auto;
    padding-top: 50px;
    font-family: helvetica;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
}

h2 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;

}

#brush-header {
    background-color: mediumspringgreen;
    padding: 5px 30px;

}

.brush-section {
    margin: 30px;
    margin-top: 30px;
}

h3 {
    margin-bottom: 5px;
    font-family: Helvetica;
}

.link-style {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}

p {
    

}